#canvas{
    border: 10px  white;
    height: 500px;
    width: 900px;
    background-color: black;
    background-size: 85%;
    margin-bottom: 2em;
    justify-content: center;
    text-align: center;
    display: flex;
}
#container{
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
body{
    background-image: linear-gradient(to bottom, purple, pink);
    text-align: center;
}
h1{
    font-family: cursive;
}
.gear{
    display: flex;
    text-align: center;
    gap: 15px;
}
#input{
    width: 400px;
}
button {
  background-color: #ff0094;
  color: white;
  cursor: pointer;
}

    