#canvas{
    border: 10px  white;
    height: 500px;
    width: 900px;
    background-color: whitesmoke;
    background-size: 85%;
    margin-bottom: 2em;
    justify-content: center;
    text-align: center;
}
#container{
    text-align: center;
    display: flex;
    width: 20%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
body{
    background-image: linear-gradient(to bottom, purple, pink);
    text-align: center;
}
h1{
    font-family: cursive;
}
    