#canvas{
    border: 5px solid black;
    height: 500px;
    width: 900px;
    background-image: linear-gradient(to bottom, purple, pink);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGvNk_f3tfIlsxvPKrkL2c1xmwaUX7eRej-A&s);
    background-size: 85%;
    margin-bottom: 2em;
    justify-content: center;
    text-align: center;
}
#container{
    text-align: center;
    display: flex;
    width: 20%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
body{
    background-color: #b1a8d1;
    text-align: center;
}
h1{
    font-family: cursive;
}
    